---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { LEARN } from "@consts";
import { LEARN_GROUPS } from "@lib/groups";
import { slugifyGroup } from "@lib/utils";

const data = (await getCollection("learn"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={LEARN.TITLE} description={LEARN.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          Learn
        </div>
        <div class="space-y-4">
          {
            LEARN_GROUPS.map((group) => {
              const entries = data.filter((post) => post.data.group === group);
              const topEntries = entries.slice(0, 3);
              const groupSlug = slugifyGroup(group);
              return (
                <section class="animate space-y-4">
                  <div class="flex flex-wrap items-center justify-between gap-y-2">
                    <div class="font-semibold text-black dark:text-white">
                      {group}
                    </div>
                    <a
                      href={`/learn/topic/${groupSlug}`}
                      class="text-sm text-black/60 transition-colors duration-300 ease-in-out hover:text-black dark:text-white/60 dark:hover:text-white"
                    >
                      Read more
                    </a>
                  </div>
                  <div>
                    <ul class="not-prose flex flex-col gap-4">
                      {
                        topEntries.length > 0 ? (
                          topEntries.map((post) => (
                            <li>
                              <ArrowCard entry={post} />
                            </li>
                          ))
                        ) : (
                          <li class="text-sm text-black/60 dark:text-white/60">
                            No entries yet.
                          </li>
                        )
                      }
                    </ul>
                  </div>
                </section>
              );
            })
          }
        </div>
      </div>
    </aside>
  </Container>
</Layout>
