---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import PostNavigation from "@components/PostNavigation.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Giscus from "@components/Giscus.astro";

export async function getStaticPaths() {
  const xp = (await getCollection("xp"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return xp.map((item) => ({
    params: { id: item.id },
    props: item,
  }));
}
type Props = CollectionEntry<"xp">;

const xp = (await getCollection("xp"))
  .filter((item) => !item.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextItem() {
  let itemIndex;
  for (const item of xp) {
    if (item.id === Astro.params.id) {
      itemIndex = xp.indexOf(item);
      return xp[itemIndex + 1];
    }
  }
}

function getPrevItem() {
  let itemIndex;
  for (const item of xp) {
    if (item.id === Astro.params.id) {
      itemIndex = xp.indexOf(item);
      return xp[itemIndex - 1];
    }
  }
}

const nextItem = getNextItem();
const prevItem = getPrevItem();

const item = Astro.props;
const { Content, headings } = await render(item);
---

<Layout title={item.data.title} description={item.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/xp">Back to experience</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={item.data.date} />
        </div>
        &bull;
        {item.body && (
          <div class="font-base text-sm">
            {readingTime(item.body)}
          </div>
        )}     
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {item.data.title}
      </h1>
      {
        (item.data.demoURL || item.data.repoURL) && (
          <nav class="flex gap-1">
            {item.data.demoURL && (
              <Link href={item.data.demoURL} external>
                demo
              </Link>
            )}
            {item.data.demoURL && item.data.repoURL && <span>/</span>}
            {item.data.repoURL && (
              <Link href={item.data.repoURL} external>
                repo
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
      <div class="mt-24">
        <PostNavigation prevPost={prevItem} nextPost={nextItem} />
      </div>
      <div class="mt-24">
        <Giscus />
      </div>
    </article>
  </Container>
</Layout>
